@use 'cssvariables';

@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega&display=swap');

html, body{
    font-family: 'Lexend Mega', sans-serif;
    box-sizing: border-box;
    height: -webkit-fill-available;

}
h1 {
}


.main {
    height: 100vh;
    width: 100vw;
    height: -webkit-fill-available;

    background-color: #ffd1dc ;

}
.bgtext {
    height: 100vh;

    height: -webkit-fill-available;

    box-sizing: border-box;
    pointer-events: none;
    width:  100vw;
    mix-blend-mode: difference;

    position: absolute;
    z-index: 2;
    display: grid;
    padding: 8rem;
    top: 0;
    left: 0;
    &__content {
        position: relative;
        max-width: 35rem;
        color: white;

    }
    
}

footer {
    padding: 1rem;
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
}
.border {
    height: 100vh;

    height: -webkit-fill-available;

    box-sizing: border-box;
    pointer-events: none;
    width:  100vw;
    position: absolute;
    top: 0;
        border: 26px solid white;
}

@media only screen and (max-width: 600px) {
    body {
      font-size: 12px;
    }
    .bgtext {
        padding: 4rem;

    }
  }